html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*New rules*/
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 40px;
}

h2 {
  font-size: 26px;
  font-weight: 800;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-family: "Shrikhand", cursive;
  font-size: 13px;
  font-weight: 400;
}

p {
  font-size: 17px;
}

.btn {
  display: block;
  border: 3px solid transparent;
  padding: 15px 75px;
  border-radius: 50px;
  background-color: violet;
}
.btn a {
  text-decoration: none;
  color: white;
}

.btnBackground {
  background-color: rgba(238, 238, 238, 0.555);
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  margin-bottom: 20px;
}
.btnBackground .btn {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  align-items: center;
}
header a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-left: 20px;
  justify-content: flex-start;
}
header h1 {
  justify-content: center;
  text-align: center;
  margin: 0 15px;
}

main {
  display: flex;
  flex-direction: column;
}
main img {
  max-height: 470px;
  height: 65vw;
  width: 100%;
  object-fit: cover;
}
main section {
  background-color: rgb(245, 245, 245);
  padding: 25px 20px 0px 20px;
  border-radius: 35px 35px 0 0;
  width: 100%;
  height: auto;
  margin-top: -30px;
}
main section .titleH2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
main section .titleH2 h2 {
  font-family: "Shrikhand", cursive;
}
main section .titleH2 i {
  font-size: 25px;
  margin-right: 35px;
}

.articles {
  margin: 30px 0px;
}
.articles h3 {
  width: 40px;
  font-weight: 400;
}
.articles__title {
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 5px;
}
.articles__box {
  margin: 20px 0;
}
.articles__box .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 10px;
  border-radius: 15px;
  width: 100%;
  height: 110px;
}
.articles__box .menu__description h4 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
  width: 100%;
}
.articles__box .menu__description p {
  font-size: 15px;
}
.articles__box .menu__price p {
  font-weight: 600;
  margin: 30px 20px 10px 10px;
}
.articles__box .menu__price i {
  display: none;
}
.articles__margin {
  margin-bottom: 50px;
}

footer {
  background-color: rgb(63, 63, 63);
  width: 100%;
  height: 200px;
}
footer h4 {
  color: white;
  font-size: 17px;
  padding: 25px 0 15px 20px;
}
footer .link {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
footer .link a {
  color: white;
  margin: 5px 0;
  text-decoration: none;
}
footer .link a i {
  margin-right: 15px;
  width: 20px;
  font-size: 13px;
}

/*# sourceMappingURL=la-note-enchant%C3%A9e.css.map */
