html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*New rules*/
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 40px;
}

h2 {
  font-size: 26px;
  font-weight: 800;
}

h3 {
  font-size: 17px;
}

h4 {
  font-family: "Shrikhand", cursive;
  font-size: 13px;
  font-weight: 400;
}

p {
  font-size: 17px;
}

.section1 a {
  display: inline-block;
  text-decoration: none;
  border: 3px solid transparent;
  padding: 15px 20px;
  border-radius: 50px;
  background-color: violet;
  color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 0;
  box-shadow: 1px 2px 5px rgb(170, 170, 170);
  margin-bottom: 3px;
}
header h1 a {
  text-decoration: none;
  color: black;
}
header .map {
  display: inline;
  text-align: center;
  background-color: rgba(202, 202, 202, 0.377);
  width: 100%;
  padding: 10px 0;
}
header .map i {
  font-size: 16px;
}
header .map input {
  text-align: center;
  border: none;
  background-color: rgba(228, 228, 228, 0.164);
  font-weight: bold;
  font-size: 18px;
  width: 170px;
  margin-left: 10px;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(238, 238, 238, 0.555);
  height: 300px;
  margin-bottom: 50px;
}
.section1 .explorer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 230px;
  width: 350px;
  margin: 0 20px;
}
.section1 .explorer h2 {
  font-size: 30px;
}
.section1 .explorer p {
  margin: 10px 0 35px 0;
  font-size: 20px;
}

.section2 {
  margin: 0 20px 40px 20px;
}
.section2 h2 {
  margin-bottom: 25px;
}
.section2 .choice3 {
  background-color: rgba(235, 144, 235, 0.233);
  border-radius: 25px;
}
.section2 .choice3 .fa-store {
  color: #9356DC;
}
.section2 .choice {
  margin: 30px 0 30px 5px;
  position: relative;
}
.section2 .choice span {
  display: block;
  text-align: center;
  background-color: #9356DC;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  padding-top: 3px;
  position: absolute;
  top: 28px;
  left: -12px;
}
.section2 .choice p {
  border: 1px solid transparent;
  border-radius: 25px;
  background-color: rgba(238, 238, 238, 0.555);
  padding: 30px 0 30px 30px;
  box-shadow: 0px 2px 15px rgba(170, 170, 170, 0.671);
  font-weight: 600;
}
.section2 .choice p i {
  color: grey;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 25px;
}
.section2 .choice p .fa-ellipsis-vertical {
  margin-right: 0;
}
.section2 .choice p .fa-bars {
  margin-left: 2px;
}

/*# sourceMappingURL=main.css.map */
