html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*New rules*/
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 40px;
}

h2 {
  font-size: 23px;
  font-weight: 800;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-family: "Shrikhand", cursive;
  font-size: 13px;
  font-weight: 400;
}

p {
  font-size: 17px;
}

.btn {
  display: block;
  border: 0 solid transparent;
  padding: 15px 40px;
  border-radius: 50px;
  background-color: #9356dc;
  background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 150%);
  transition: all 1s;
}
.btn a {
  text-decoration: none;
  color: white;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 1s;
  box-shadow: 0 0 5px black;
}

.btnBackground {
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
}
.btnBackground .btn {
  text-decoration: none;
  color: white;
}

.heart {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 25px;
}
.heart__two {
  margin-top: -25px;
  color: transparent;
  background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 150%);
  -webkit-background-clip: text;
  opacity: 0;
  transition: opacity 0.5s;
}
.heart__two:hover {
  display: inline-table;
  opacity: 1;
}

.articles__box {
  cursor: pointer;
}
.articles__box .menu {
  padding-right: 0;
  overflow: hidden;
}
.articles__box .menu .check {
  transition: margin-right 1s;
  width: 50px;
  margin-right: -50px;
}
.articles__box .menu:hover .check {
  margin-right: 0;
  transition: margin-right 1s;
}
.articles__box .menu:hover .check .fa-circle-check {
  animation-name: circle;
  animation-duration: 1s;
}

@keyframes circle {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.articles__box {
  animation: slideMenu 2s ease 0.5s 1 normal both;
}

@keyframes slideMenu {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.articles__box:nth-child(1) {
  animation-delay: 0s;
}

.articles__box:nth-child(2) {
  animation-delay: 0.2s;
}

.articles__box:nth-child(3) {
  animation-delay: 0.4s;
}

.articles__box:nth-child(4) {
  animation-delay: 0.6s;
}

header {
  display: flex;
  align-items: center;
}
header a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-left: 20px;
  justify-content: flex-start;
}
header h1 {
  justify-content: center;
  text-align: center;
  margin: 0 15px;
}

main {
  display: flex;
  flex-direction: column;
}
main img {
  max-height: 470px;
  height: 65vw;
  width: 100%;
  object-fit: cover;
}

section {
  background-color: rgb(245, 245, 245);
  padding: 25px 20px 0px 20px;
  border-radius: 35px 35px 0 0;
  width: 100%;
  height: auto;
  margin-top: -30px;
}
section .titleH2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .titleH2 h2 {
  font-family: "Shrikhand", cursive;
}
section .titleH2 i {
  font-size: 25px;
}

.articles {
  margin: 30px 0px;
}
.articles h3 {
  width: 40px;
  font-weight: 400;
}
.articles__title {
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 5px;
}
.articles__box {
  margin: 20px 0;
  animation-duration: 1s;
  animation-name: slideMenu;
}
.articles__box .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 0 10px 10px;
  border-radius: 15px;
  width: 100%;
  height: 62px;
}
.articles__box .menu__description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.articles__box .menu__description h4 {
  font-size: 15px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.articles__box .menu__description p {
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.articles__box .menu__price {
  display: flex;
  height: 62px;
}
.articles__box .menu__price p {
  margin: 30px 20px 0 10px;
  font-weight: 600;
  width: 20px;
}
.articles__box .menu__price .check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  height: auto;
}
.articles__box .menu__price .check .fa-circle-check {
  color: white;
  font-size: 20px;
}
.articles__margin {
  margin-bottom: 50px;
}

footer {
  background-color: rgb(63, 63, 63);
  width: 100%;
  height: 200px;
}
footer h4 {
  color: white;
  font-size: 17px;
  padding: 25px 0 15px 20px;
}
footer .link {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
footer .link a {
  color: white;
  margin: 5px 0;
  text-decoration: none;
}
footer .link a i {
  margin-right: 15px;
  width: 20px;
  font-size: 13px;
}

/*# sourceMappingURL=%C3%A0-la-fran%C3%A7aise.css.map */
