$backgroundMap: rgba(202, 202, 202, 0.377);
$backgroundInput: rgba(228, 228, 228, 0.164);

$background: rgba(238, 238, 238, 0.555);

$backgroundBtn: violet;

$backgroundChoiceNumber: #9356DC;

$box-Shadow: 0px 2px 15px rgba(170, 170, 170, 0.671);

$backgroundFooter: rgb(63, 63, 63);

$backgroundPages : rgb(236, 236, 236);