.section1 {
  @include flexCentre;
  text-align: center;
  background-color: rgba(238, 238, 238, 0.555);
  height: 280px;
  margin-bottom: 50px;

  .explorer {
    align-items: center;
    height: 180px;

    h2 {
      margin-bottom: 20px;
      
    }

    a {
        text-decoration: none;
        border: 3px solid transparent;
        padding: 15px 20px;
        border-radius: 50px;
        background-color: violet;
        color: white;
      }
  }
}
