.section2 {
  margin: 0 20px 0 20px;

  h2 {
    margin-bottom: 25px;
  }

  .choice3 {
    background-color: rgba(235, 144, 235, 0.233);
    border-radius: 25px;

    .fa-store {
      color: #9356dc;
    }
  }

  .choice {
    margin: 30px 0 30px 5px;
    position: relative;

    span {
      display: block;
      text-align: center;
      background-color: $backgroundChoiceNumber;
      color: white;
      width: 25px;
      height: 25px;
      border-radius: 50px;
      padding-top: 3px;
      position: absolute;
      top: 18px;
      left: -12px;
    }

    p {
      border: 1px solid transparent;
      border-radius: 20px;
      background-color: $background;
      padding: 20px 0 20px 25px;
      box-shadow: $box-Shadow;
      font-weight: 600;

      i {
        color: grey;
        font-size: 20px;
        margin-left: 10px;
        margin-right: 25px;
      }

      .icon-mobil {
        margin-right: 33px;
      }

      .fa-ellipsis-vertical {
        margin-right: 0;
      }

      .fa-bars {
        margin-left: 2px;
      }
    }
  }
}
