.section2 {
  display: inline;
  text-align: center;

  .blockChoice {
    display: flex;
    justify-content: space-around;
    margin: 10px;

    .choice {
      display: flex;
      margin: 0 10px;

      span {
        top: -13px;
        left: 43%;
      }

      p {
        @include flexColumn;
        padding-right: 30px;

        i {
          padding-bottom: 10px;
        }

         .fa-bars {
           margin-top: -30px;
           margin-right: 0px;
         }

         .fa-ellipsis-vertical {
           margin-right: 35px;
         }

         .fa-store {
           margin-left: 20px;
         }
      }
    }
  }
}

footer {
  text-align: center;
}
