section {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;

  .titleH2 {
    text-align: center;

    h2 {
      margin-left: 60px;
    }
  }

  .food {
    display: flex;
  }

  .articles {
    margin: 50px 20px;
    width: 100%;
  }

  .heart {
    margin-right: 50px;
    cursor: pointer;
  }
}
