main {
  position: relative;
}

section {
  background-color: $backgroundPages;
  padding: 25px 20px;
  border-radius: 35px;
  position: absolute;
  top: 80%;
  width: 100%;
  height: 100vh;

  .titleH2 {
    @include flexCentre;

    h2 {
      font-family: "Shrikhand", cursive;
    }

    i {
      font-size: 25px;
      margin-right: 20px;
    }
  }
}
