.btn {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  border: 3px solid transparent;
  padding: 15px 20px;
  border-radius: 50px;
  background-color: $backgroundBtn;
  color: white;
  width: 250px;
  margin: auto;
}
