.btn {
  display: block;

  border: 3px solid transparent;
  padding: 15px 40px;
  border-radius: 50px;
  background-color: $backgroundBtn;

  a {
    text-decoration: none;
    color: white;
  }
}

.btnBackground {
  background-color: $backgroundPages;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  margin-bottom: 20px;
  .btn {
    text-decoration: none;
    color: white;
  }
}
