.btn {
  display: block;
  border: 0 solid transparent;
  padding: 15px 40px;
  border-radius: 50px;
  background-color: #9356dc;
  background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 150%);
  transition: all 1s;

  a {
    text-decoration: none;
    color: white;
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: all 1s;
    box-shadow: 0 0 5px black;
  }
}

.btnBackground {
  background-color: $backgroundPages;
  display: flex;
  justify-content: center;
  padding-bottom: 70px;

  .btn {
    text-decoration: none;
    color: white;
  }
}


