.articles__box {
  cursor: pointer;

  .menu {
    padding-right: 0;
    overflow: hidden;
    .check {
      transition: margin-right 1s;
      width: $marginIconCheck;
      margin-right: -$marginIconCheck;
    }


    &:hover {
      .check {
        margin-right: 0;
        transition: margin-right 1s;

        .fa-circle-check {
          animation-name: circle;
          animation-duration: 1s;
        }
      }
    }
  }
}

@keyframes circle {
  0% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
