.heart {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 25px;

  &__two {
    margin-top: -25px;
    color: transparent;
    background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 150%);
    -webkit-background-clip: text;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    
    &:hover {
      display: inline-table;
      opacity: 1;
      
    }
  }
}
