main {
  position: relative;

  img {
    height: 470px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  section {
    background-color: $backgroundPages;
    padding: 25px 20px;
    border-radius: 35px;
    position: absolute;
    top: 80%;
    width: 100%;
    height: auto;

    .titleH2 {
      @include flexCentre;

      h2 {
        font-family: "Shrikhand", cursive;
      }

      i {
        font-size: 25px;
        margin-right: 20px;
      }
    }
  }
}
