section {
  background-color: $backgroundPages;
  padding: 25px 20px 0px 20px;
  width: 100%;
  height: auto;


  .titleH2 {
    @include flexCentre;
    h2 {
      font-family: "Shrikhand", cursive;
    }

    i {
      font-size: 25px;
    }
  }
}
