.articles {
  margin: 30px 0px;

  h3 {
    width: 40px;
    font-weight: 400;
  }

  &__title {
    border-bottom: 3px solid #99e2d0;
    padding-bottom: 5px;
  }

  &__box {
    margin: 20px 0;
    animation-duration: 1s;
    animation-name: slideMenu;
    animation-delay: 0.5s;

    @keyframes slideMenu {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .menu {
      @include flexBetween;
      background-color: white;
      padding: 10px 0 10px 10px;
      border-radius: 15px;
      width: 100%;
      height: 62px;

      &__description {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        h4 {
          font-size: 15px;
          font-weight: 600;
          font-family: "Roboto", sans-serif;
          margin-bottom: 5px;
          width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        p {
          font-size: 12px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      &__price {
        display: flex;
        height: 62px;

        p {
          margin: 30px 20px 0 10px;
          font-weight: 600;
          width: 20px;
        }

        .check {
          @include flexCentre;
          background-color: #99e2d0;
          height: auto;

          .fa-circle-check {
            color: white;
            font-size: 20px;
          }
        }
      }
    }
  }

  &__margin {
    margin-bottom: 50px;
  }
}
